SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/{{ db_name }}
DB_USER={{ db_user }}
DB_PASS={{ db_password }}
KRAKEN_API_KEY={{ kraken_api_key }}
KRAKEN_API_SECRET={{ kraken_api_secret }}
ADMIN_USERNAME={{ admin_username }}
ADMIN_PASSWORD={{ admin_password }}
FRONTEND_URL=http://{{ ansible_default_ipv4.address }}
LOGGING_FILE_NAME=/var/log/triangletrader/arb.log
